* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 18px;
    color: #070707;
    font-family: "Open Sans", sans-serif;
  }

  ul,
  ol,
  menu {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

 

  .header-list {
    justify-content: space-between;
    display: flex;
    padding: 28px 0 32px 0;
    border-bottom: 1px solid #828282;
  }

  .header-list li {
    color: #828282;
  }
  .header-list li:hover {
    color: #070707;
  }

  