* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  color: #070707;
  font-family: "Open Sans", sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.menu-btn {
  display: none;
}

@media screen and (max-width:480px) {
  .menu-btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-left: 90%;
    margin-top: 50px;
    margin-right: 30px;
  }
}

.menu-btn .bar {
  width: 30px;
  height: 4px;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: black;
  transition: 0.3s;
}

.menu-btn .bar:nth-child(2) {
  top: calc(50% - 9px);
}

.menu-btn .bar:nth-child(3) {
  top: calc(50% + 9px);
}

.menu-btn.active .bar:nth-child(1) {
  display: none;
}

.menu-btn.active .bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active .bar:nth-child(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}


.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.about-inner {
  display: flex;
  max-width: 485px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.header-list {
  gap: 20px;
  display: flex;
  padding: 28px 0 32px 0;
  border-bottom: 1px solid #828282;
}

@media screen and (max-width:480px) {
  .header-list {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px;
    background-color: white;
    transition: 0.5s;
    transform: translateX(100%);
    flex-direction: column;
    align-items: center;
  }

  .header-list.active {
    transform: translateX(0);
}
}

.header-list li {
  color: #828282;
}

.header-list li:hover {
  color: #070707;
}

.banner-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 0 30px 0;
}

.banner {
  padding-bottom: 100px;
}

.banner-info h1 {
  max-width: 100px;
  font-weight: 700;
}

.banner-info p {
  max-width: 180px;
}

.banner-text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width:480px) {
  .banner-text {
    display: flex;
    max-width: 175px;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.banner-image {
  width: 100%;
}

@media screen and (max-width:480px) {
  .banner-image {
    height: 478px;
    object-fit: cover;
  }
}

.about {
  padding: 100px 0;
  background-color: #F6F6F6;
}

.title {
  text-align: center;
  font-weight: 600px;
  padding-bottom: 45px;
}


.about-info p {
  padding-bottom: 30px;
  text-align: center;
}

.skills h1 {
  padding-top: 100px;
}

.programs {
  text-align: center;
  padding-top: 75px;
}

.skills-info {
  display: flex;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 100px;
}

@media screen and (max-width:767px) {
  .skills-info {
    flex-wrap: wrap;
    max-width: 400px;
    display: flex;
    margin: 0 auto;
  }
}

@media screen and (max-width:480px) {
  .skills-info {
    flex-wrap: wrap;
    max-width: 200px;
    display: flex;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

.skills-info p {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 100%;
  max-width: 80px;
  color: #828282;
  padding: 24px 0;
  margin: 0 auto;
}

.skill-list {
  display: flex;
  justify-content: space-between;
  gap: 9px;
  max-width: 200px;
  width: 100%;
}

@media screen and (max-width:767px) {
  .skill-list {
    padding-bottom: 50px;
  }
}

.skills-image {
  max-width: 88px;

}

.figma-p {
  height: 82px;

}

.skills-item {

  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.portfolio {
  padding-top: 100px;
  background: #F6F6F6;
}


.port {
  padding-bottom: 45px;
}

.after-img {
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  text-decoration-line: underline;
  color: #070707;

  flex-wrap: wrap;
}

.work {
  padding-bottom: 100px;
}

.img-project {
  width: 100%;
  margin-bottom: 45px;
}

.img-project:hover {
  background-color: #000000;
  opacity: 0.8;
  filter: alpha(opacity=80) rgb(0, 0, 0);
}

.footer {
  padding-top: 100px;
}

.footer-p {
  text-align: center;
  max-width: 290px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.footer-button {
  background: #070707;
  color: #FFFFFF;
  width: 180px;
  height: 42px;
  border-radius: 30px;
  font-size: 18px;
  line-height: 22px;

}

.contacts-list {
  display: flex;
  gap: 60px;
  justify-content: center;
  padding-top: 50px;
}

.footer-text {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
  max-width: 180px;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 50px;
}

.footer-inner {
  text-align: center;
}